{% extends 'layouts/base.twig' %}

{% block layout_header_custom %}
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
{% endblock layout_header_custom %}

{% block page_body %}

    <h3 class="pb-4 mb-4 border-bottom">
        {{ Track.name }}
    </h3>

    <div class="row">
        <div class="col-8">
            <table class="table">
                <tr>
                    <td>Artist</td>
                    <td>
                        <a href="{{ route('artist-profile.show', {'artistUrl': Track.artist.url}) }}">
                            {{ Track.artist.name }}
                        </a>
                    </td>
                </tr>
                {% if Track.releaseTracks|length %}
                <tr>
                    <td>
                        Appears on
                    </td>
                    <td>
                        {% for item in Track.releaseTracks %}
                            <a href="{{ route('release.show', {'artistUrl': Track.artist.url, 'releaseUrl': item.release.url}) }}">
                                {{ item.release.name }}
                            </a>
                            <br>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>

    {% if Track.blurb %}
        {{ Track.blurb }}
    {% endif %}

    {% if SpotifyTrackId %}
        <h2>Spotify</h2>
        <div id="embed-iframe"></div>
        <script>
            window.onSpotifyIframeApiReady = (IFrameAPI) => {
                const element = document.getElementById('embed-iframe');
                const options = {
                    uri: 'spotify:track:{{ SpotifyTrackId }}'
                };
                const callback = (EmbedController) => {};
                IFrameAPI.createController(element, options, callback);
            };
        </script>
        <p>
            <a href="{{ Track.store_spotify_link }}">Open in Spotify</a>
        </p>
    {% endif %}

    {% if Track.store_soundcloud_link %}
        {# curl "https://soundcloud.com/oembed" -d 'format=json' -d 'url=https://soundcloud.com/gfdmusic/epic-journey' #}
        <p>
            <a href="{{ Track.store_soundcloud_link }}">Open in Soundcloud</a>
        </p>
    {% endif %}

    {% if Track.blurb %}
        <article class="blog-post">
            {{ Track.blurb }}
        </article>
    {% endif %}


{% endblock page_body %}
