{% extends 'layouts/base.twig' %}

{% set TopTitle = Artist.name~' - Artist profile' %}

{% block layout_welcome %}
    <div class="p-4 p-md-5 mb-4 gfd-bg-welcome">
        <div class="gfd-welcome-text col-md-6">
            <h1>Profile: {{ Artist.name }}</h1>
            <p>
                Behind the curtain.
            </p>
        </div>
    </div>
{% endblock layout_welcome %}

{% block page_body %}

<h3 class="pb-4 mb-4 border-bottom">
    Artist profile: {{ Artist.name }}
</h3>

<div class="d-flex mb-4">
    <img src="/assets/artist-logos/{{ Artist.url }}-800x800.jpg" alt="{{ Artist.name }}" class="me-4" style="width: 150px; height: 150px;">
    <div>
        {% if Artist.bio %}
            {{ Artist.bio|nl2br }}
        {% endif %}
    </div>
</div>

<h2>Quick stats</h2>

<div class="row">
    <div class="col-8">
        <table class="table">
            <tr>
                <td>Releases</td>
                <td>
                    <span class="h4 text-end">
                        {{ Artist.releases|length }}
                    </span>
                </td>
            </tr>
            <tr>
                <td>Tracks</td>
                <td>
                    <span class="h4 text-end">
                        {{ Artist.tracks|length }}
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

{% if Artist.show_contact_info %}
<h2>Contact info</h2>

<div class="row">
    <div class="col-8">
        <table class="table">
            {% if Artist.contact_name %}
            <tr>
                <td>Name</td>
                <td>{{ Artist.contact_name }}</td>
            </tr>
            {% endif %}
            {% if Artist.contact_email %}
            <tr>
                <td>Email</td>
                <td><a href="mailto:{{ Artist.contact_email }}">{{ Artist.contact_email }}</a></td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endif %}

<h2>Links</h2>

{% set hasSocialLinks = Artist.social_threads_id or Artist.social_bluesky_id or Artist.social_twitter_id %}
{% set hasStoreLinks = Artist.store_spotify_link or Artist.store_soundcloud_link or Artist.store_youtube_link or Artist.store_apple_link or Artist.store_amazon_link or Artist.store_bandcamp_link %}

<div class="row">
    <div class="col-8">
        <table class="table">
            <tr>
                <th colspan="2">Social links</th>
            </tr>
            {% if hasSocialLinks %}
                {% if Artist.social_threads_id %}
                <tr>
                    <td>Threads</td>
                    <td><a href="https://threads.net/{{ Artist.social_threads_id }}" target="_blank">{{ Artist.social_threads_id }}</a></td>
                </tr>
                {% endif %}
                {% if Artist.social_bluesky_id %}
                <tr>
                    <td>Bluesky</td>
                    <td><a href="https://bsky.app/profile/{{ Artist.social_bluesky_id }}" target="_blank">{{ Artist.social_bluesky_id }}</a></td>
                </tr>
                {% endif %}
                {% if Artist.social_twitter_id %}
                <tr>
                    <td>Twitter/X</td>
                    <td><a href="https://x.com/{{ Artist.social_twitter_id }}" target="_blank">{{ Artist.social_twitter_id }}</a></td>
                </tr>
                {% endif %}
            {% else %}
            <tr>
                <td colspan="2">Coming soon.</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="2">Store links</th>
            </tr>
            {% if hasStoreLinks %}
                {% if Artist.store_spotify_link %}
                <tr>
                    <td>Spotify</td>
                    <td><a href="{{ Artist.store_spotify_link }}" target="_blank">Spotify</a></td>
                </tr>
                {% endif %}
                {% if Artist.store_soundcloud_link %}
                <tr>
                    <td>Soundcloud</td>
                    <td><a href="{{ Artist.store_soundcloud_link }}" target="_blank">Soundcloud</a></td>
                </tr>
                {% endif %}
                {% if Artist.store_youtube_link %}
                <tr>
                    <td>Youtube Music</td>
                    <td><a href="{{ Artist.store_youtube_link }}" target="_blank">Youtube Music</a></td>
                </tr>
                {% endif %}
                {% if Artist.store_apple_link %}
                <tr>
                    <td>Apple Music</td>
                    <td><a href="{{ Artist.store_apple_link }}" target="_blank">Apple Music</a></td>
                </tr>
                {% endif %}
                {% if Artist.store_amazon_link %}
                <tr>
                    <td>Amazon Music</td>
                    <td><a href="{{ Artist.store_amazon_link }}" target="_blank">Amazon Music</a></td>
                </tr>
                {% endif %}
                {% if Artist.store_bandcamp_link %}
                <tr>
                    <td>Bandcamp</td>
                    <td><a href="{{ Artist.store_bandcamp_link }}" target="_blank">Bandcamp</a></td>
                </tr>
                {% endif %}
            {% else %}
            <tr>
                <td colspan="2">Coming soon.</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

<h2>Releases</h2>

{% include 'components/gfd/release-table.twig' with {'Releases': Artist.releases} %}

{% endblock page_body %}
