{% extends 'layouts/base.twig' %}

{% block layout_header_custom %}
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
{% endblock layout_header_custom %}

{% set TopTitle = Release.name~' by '~Release.artist.name %}

{% block layout_welcome %}
    <div class="p-4 p-md-5 mb-4 gfd-bg-welcome" style="background: url('{{ Release.artwork_local_url }}') center left;">
        <div class="gfd-welcome-text col-md-6">
            <h1>{{ Release.name }}</h1>
            <p>
            {% if Release.type == 'Single' %}
                A single
            {% else %}
                A {{ Release.releaseTracks|length }}-track {{ Release.type }}
            {% endif %}
                by {{ Release.artist.name }}.
                Released on {{ Release.release_date|date('M d, Y') }}.
            </p>
        </div>
    </div>
{% endblock layout_welcome %}

{% block page_body %}

    <h3 class="pb-4 mb-4 border-bottom">
        {{ Release.name }}
    </h3>

    <div class="row">
        <div class="col-8">
            <table class="table">
                <tr>
                    <td>Type</td>
                    <td>{{ Release.type }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ Release.status }}</td>
                </tr>
                <tr>
                    <td>Artist</td>
                    <td>
                        <a href="{{ route('artist-profile.show', {'artistUrl': Release.artist.url}) }}">
                            {{ Release.artist.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Release date</td>
                    <td>{{ Release.release_date|date('M d, Y') }}</td>
                </tr>
                <tr>
                    <td>Tracks</td>
                    <td>{{ Release.releaseTracks|length }}</td>
                </tr>
            </table>
        </div>
        <div class="col">
            {% if Release.artwork_local_url %}
                <img src="{{ Release.artwork_local_url }}" class="bd-placeholder-img" width="250" height="250" alt="Cover artwork for {{ Release.name }}">
            {% endif %}
        </div>
    </div>

    {% if Release.blurb %}
        <p>
            {{ Release.blurb }}
        </p>
    {% endif %}

    <h3>Tracks</h3>
    {% if Release.releaseTracks|length %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Track</th>
                </tr>
            </thead>
            {% for item in Release.releaseTracks %}
                <tr>
                    <td>{{ item.release_order }}</td>
                    <td>
                        <a href="{{ route('track.show', {'trackUrl': item.track.url, 'artistUrl': item.track.artist.url}) }}">{{ item.track.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>
            This release doesn't have any tracks...
        </p>
    {% endif %}

    {% if SpotifyAlbumId %}
        <h2>Spotify</h2>
        <div id="embed-iframe"></div>
        <script>
            window.onSpotifyIframeApiReady = (IFrameAPI) => {
                const element = document.getElementById('embed-iframe');
                const options = {
                    uri: 'spotify:album:{{ SpotifyAlbumId }}'
                };
                const callback = (EmbedController) => {};
                IFrameAPI.createController(element, options, callback);
            };
        </script>
        <p>
            <a href="{{ Release.store_spotify_link }}">Open in Spotify</a>
        </p>
    {% endif %}

    {% if Release.store_soundcloud_link %}
        {# curl "https://soundcloud.com/oembed" -d 'format=json' -d 'url=https://soundcloud.com/gfdmusic/epic-journey' #}
        <p>
            <a href="{{ Release.store_soundcloud_link }}">Soundcloud</a>
        </p>
    {% endif %}

    {% if Release.store_youtube_link %}
        <p>
            <a href="{{ Release.store_youtube_link }}">YouTube Music</a>
        </p>
    {% endif %}

    {% if Release.store_amazon_link %}
        <p>
            <a href="{{ Release.store_amazon_link }}">Amazon Music</a>
        </p>
    {% endif %}

    {% if Release.store_apple_link %}
        <p>
            <a href="{{ Release.store_apple_link }}">Apple Music</a>
        </p>
    {% endif %}

    {% if Release.store_bandcamp_link %}
        <p>
            <a href="{{ Release.store_bandcamp_link }}">Bandcamp</a>
        </p>
    {% endif %}

{% endblock page_body %}
