{% extends 'layouts/base.twig' %}

{% block layout_body %}
<main>
    <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Hey {{ AuthUser.name}}, thanks for trying collaborama!
                </p>
                <p>
                    Our goal is to <strong>save you time</strong> by cutting down on
                    boring, unnecessary meetings.
                </p>
                <p>
                    We'll help you to get the answers you need, without a meeting being the default option.
                </p>
                <p>
                    It all starts by creating a topic, which you'll then add questions to, before sharing this
                    with your colleagues for feedback.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Feedback</h2>
                <p>
                    We're relying on your feedback to improve collaborama.
                    Please use the button below to share your comments. This will open a Google form.
                </p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfjn7vw3KPXMa-0O9EXyw7pwQuRF2VDCRuLbk87y02sZ2enrQ/viewform"
                   class="btn btn-primary" target="_blank">Submit feedback</a>
            </div>
        </div>
        {% if MyTopics|length == 0 %}
        <p>
            Click the button below to get started.
        </p>
        {% endif %}
        <h2>Your topics</h2>
        {% if MyTopics|length >= TopicLimit %}
            <p>
                <strong>You can't create any more topics right now.</strong>
                Let us know if you'd like to have more topics.
            </p>
        {% else %}
            <a class="btn btn-primary" href="{{ route('collab.topic.create') }}" role="button">+ Start a new topic</a>
        {% endif %}
        {% if MyTopics|length %}
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>Topic</th>
                    <th class="text-center">Questions</th>
                    <th class="text-center">Answers</th>
                    <th class="text-center">Share</th>
                    <th class="text-center">Access</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Change status</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Options</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for item in MyTopics %}
                    <tr>
                        <td>
                            <a href="{{ route('collab.topic.manage', {'topic': item}) }}">
                                {{ item.topic }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ item.questions.count }}
                        </td>
                        <td class="text-center">
                            {{ item.answers.count }}
                        </td>
                        <td class="text-center">
                            <small>
                                <a href="{{ route('collab.topic.view', {'shareCode': item.share_code}) }}">View</a> :
                                <a class="js-share-link-copy" data-id="{{ item.share_code }}" href="javascript:void(0);">Copy link</a>
                            </small>
                        </td>
                        <td class="text-center">{{ item.access_type }}</td>
                        <td class="text-center">
                            {{ item.status }}
                        </td>
                        <td class="text-center">
                            {% if item.status == 'Open' %}
                                <button class="btn btn-sm btn-outline-primary" title="Close topic"
                                      hx-get="{{ route('collab.topic.close', {'topic': item}) }}"
                                      hx-confirm="Close this topic?"
                                      hx-swap="outerHTML">
                                <i class="fa-solid fa-lock"></i>
                                    Close
                                </button>
                            {% elseif item.status == 'Closed' %}
                                <button class="btn btn-sm btn-outline-primary"  title="Reopen topic"
                                      hx-get="{{ route('collab.topic.reopen', {'topic': item}) }}"
                                      hx-confirm="Reopen this topic?"
                                      hx-swap="outerHTML">
                                <i class="fa-solid fa-lock-open"></i>
                                    Reopen
                                </button>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ item.created_at }}</td>
                        <td class="text-center">
                            {% if item.questions.count == 0 %}
                                <button class="btn btn-sm btn-outline-primary" title="Delete topic"
                                        hx-get="{{ route('collab.topic.delete', {'topic': item}) }}"
                                        hx-confirm="Delete this topic?"
                                        hx-swap="outerHTML">
                                    <i class="fa-solid fa-trash"></i>
                                    Delete
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have not created any topics yet. Why not give it a try?</p>
        {% endif %}
    </div>
</main>

<script>
    var shareCodeBaseUrl = '{{ route('collab.topic.view') }}/';
    $(function() {
        $('.js-share-link-copy').on('click', function() {
            shareCode = $(this).attr('data-id');
            textToCopy = shareCodeBaseUrl + shareCode;
            //window.alert(textToCopy);
            copyToClipboard(textToCopy);
        });
    });
</script>

{% endblock layout_body %}
